/*
  Colours:
    white:  #FFFFFF
    black:  #222222
    yellow: #FFCC02
    red:    #EE0000
*/

body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-align: left;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.9em;
  text-align: left;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  padding-left: 27.34px;
  margin-bottom: 0px;
}
p {
  font-size: 18px;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding: 10px 150px 0px 30px;
  margin: 30px auto;
  margin-top: 0px;
  background-color: #ffffff;
  color: #222222;
  text-align: center;
  display: flex;
  border-bottom: solid 1px #e7e7e7;
  box-sizing: border-box;
}
#logo {
  color: #ffffff;
  flex: 10;
}
#button-about,
#button-projects,
#button-contact {
  /* padding: 0px 15px 15px 15px; */
  margin: 0px 15px 15px 15px;
  margin-top: 0px;
  padding-bottom: 10px;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  border: none;
  border-bottom: 3px solid transparent;
  flex: 1;
}
#button-about {
  border-bottom: 3px solid #ee0000;
}
/* #button-contact {
  margin-right: 200px;
} */

.wrapper {
  width: 70%;
  margin: 30px auto;
  margin-top: 10vh;
  color: #222222;
  text-align: center;
  display: flex;
  height: 100vh;
}

#portrait {
  flex: 1;
  padding-right: 40px;
  padding-top: 80px;
}
#portrait img {
  width: 85%;
  height: auto;
  border-radius: 50%;
}
#about {
  flex: 2;
  text-align: left;
  padding: 40px 0;
}
#about h1 {
  padding-top: 60px;
}
.red {
  color: #ee0000;
}
#about p {
  padding-left: 27.34px;
}
#contact-float {
  position: fixed;
  width: 150px;
  height: 55px;
  bottom: 60px;
  right: 90px;
  background-color: #ffdb4d;
  color: #222222;
  border-radius: 50px;
  border: none;
  font-size: 1.2em;
  /* text-align: center; */
  /* box-shadow: 1px 1px 1.5px #a3a3a3; */
}
.projects {
  margin: 30px auto;
  /* text-align: center; */
  /* display: flex; */
  flex-wrap: wrap;
}
.projects p {
  /* padding-left: 18.89px; */
}
#stopwatch {
  display: flex;
}
#stopwatchPic {
  flex: 4;
  /* padding-right: 40px;
  padding-top: 80px; */
}
.projects h1 {
  border-bottom: solid 1.8px #e7e7e7;
  margin-bottom: 8vh;
  /* margin-left: 200px; */
  margin-left: 10vw;
}
#everyProject {
  padding-left: 10vw;
  width: 80%;
}
.projects img {
  width: 100%;
  padding-right: 10px;
  height: auto;
  /* temp border */
  border: 1px solid #222222;
  border-right: 1px solid #e7e7e7;
}
#aboutProjects {
  flex: 3;
  padding: 20px 80px;
  /* padding-top: 60px; */
}
.arrow {
  color: #ee0000;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.9em;
}
